<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Edit Task</h6>
  </div>
  <div class="card-body">
    <%= render "form.html", Map.put(assigns, :action, task_path(@conn, :update, @task)) %>
  </div>
</div>
